<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group value="second" (ionChange)="accordionGroupChange($event)" multiple="true">
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>First</ion-label>
      </ion-item>
      <div class="ion-no-padding" slot="content">
        <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
          <ion-card (click)="clickTest()">
            <ion-card-content> {{item}} </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label>Second</ion-label>
      </ion-item>
      <div class="ion-no-padding" slot="content">
        <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
          <ion-card (click)="clickTest()">
            <ion-card-content> {{item}} </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
